<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layouts/adminLayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>

<body>
    <section layout:fragment="content" class="manager p-4">
        <!-- Card Edit -->
        <div class="card border border-slate-300 rounded-md">
            <div class="card-header p-3">
                Edit Recipe
            </div>
            <form th:action="@{/manage/recipes/edit/{id}(id=${recipeDTO.id})}" method="post" th:object="${recipeDTO}"
                enctype="multipart/form-data">
                <div class="card-body p-3 border-y border-slate-300 flex flex-wrap">
                    <div class="form-group mb-3 w-1/2 px-2">
                        <label for="title" class="block text-sm font-medium text-gray-700 mb-2">Title</label>
                        <input type="text" id="title" name="title"
                            class="form-control w-full p-2 border border-slate-300 rounded-md" th:field="*{title}">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-red-500"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 px-2">
                        <label for="prepTime" class="block text-sm font-medium text-gray-700 mb-2">Preparation
                            Time</label>
                        <input type="number" id="prepTime" name="prepTime"
                            class="form-control w-full p-2 border border-slate-300 rounded-md" th:field="*{prepTime}">
                        <span th:if="${#fields.hasErrors('prepTime')}" th:errors="*{prepTime}"
                            class="text-red-500"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 px-2">
                        <label for="cookTime" class="block text-sm font-medium text-gray-700 mb-2">Cooking Time</label>
                        <input type="number" id="cookTime" name="cookTime"
                            class="form-control w-full p-2 border border-slate-300 rounded-md" th:field="*{cookTime}">
                        <span th:if="${#fields.hasErrors('cookTime')}" th:errors="*{cookTime}"
                            class="text-red-500"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 px-2">
                        <label for="servings" class="block text-sm font-medium text-gray-700 mb-2">Servings</label>
                        <input type="number" id="servings" name="servings"
                            class="form-control w-full p-2 border border-slate-300 rounded-md" th:field="*{servings}">
                        <span th:if="${#fields.hasErrors('servings')}" th:errors="*{servings}"
                            class="text-red-500"></span>
                    </div>
                    <div class="form-group mb-3 w-full px-2">
                        <label for="description"
                            class="block text-sm font-medium text-gray-700 mb-2">Description</label>
                        <textarea id="description" name="description"
                            class="form-control w-full p-2 border border-slate-300 rounded-md"
                            th:field="*{description}"></textarea>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                            class="text-red-500"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 px-2">
                        <div class="input-file">
                            <label for="imageFile" class="block text-sm font-medium text-gray-700 mb-2">Image</label>
                            <input type="file" id="imageFile" name="imageFile"
                                class="form-control w-full p-2 border border-slate-300 rounded-md" min="1">
                            <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
                                class="text-red-500"></span>
                        </div>

                        <div class="file-preview">
                            <label for="imageFile" class="block text-sm font-medium text-gray-700 mb-2">Preview</label>
                            <img id="imagePreview"
                                th:src="@{${recipeDTO.image != null} ? ${recipeDTO.image} : '/images/recipes/default.png'}"
                                alt="Preview" class="w-full object-cover rounded-md">
                        </div>
                    </div>
                    <div class="form-group mb-3 w-1/2 px-2">
                        <div class="select-category mb-3">
                            <label for="name" class="block mb-2">Category</label>
                            <select name="categoryId" id="category" title="Category"
                                class="w-full p-2 border border-slate-300 rounded-md">
                                <option value="-1">Select Category</option>
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}" th:selected="${category.id == recipeDTO.categoryId}">
                            </select>
                            <span class="text-red-500" th:if="${#fields.hasErrors('categoryId')}"
                                th:errors="*{categoryId}"></span>
                        </div>
                        <div class="select-ingredient mb-3">
                            <label for="ingredient" class="block mb-2">Ingredients</label>
                            <select name="ingredient" id="ingredient" title="Ingredients"
                                class="w-full p-2 border border-slate-300 rounded-md">
                                <option value="-1">Select Ingredient</option>
                                <option th:each="ingredient : ${ingredients}" th:value="${ingredient.id}"
                                    th:text="${ingredient.name}">
                                </option>
                            </select>
                        </div>
                        <div class="select-amount mb-3">
                            <label for="amount" class="block mb-2">Amount</label>
                            <input type="text" id="amount" name="amount"
                                class="form-control w-full p-2 border border-slate-300 rounded-md">
                        </div>
                        <button type="button" onclick="addIngredient()"
                            class="p-2 px-4 bg-green-500 text-white rounded-full">Add Ingredient</button>
                        <span class="text-red-500" id="ingredientError"></span>
                        <div class="ingredient-list mt-3">
                            <ul id="ingredientList" class="list-disc list-inside">
                                <li th:each="ingredient : ${recipeDTO.ingredients}"
                                    class="flex justify-between items-center">
                                    <div class="item">
                                        <span th:text="${ingredient.amount}"></span>
                                        <span th:hidden="true" th:text="${ingredient.ingredientId}"></span>
                                        <span th:text="${ingredient.ingredientName}"></span>
                                    </div>
                                    <i class="fas fa-trash text-2xl text-red-500 cursor-pointer"
                                        onclick="removeIngredient(this)"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-3 flex justify-end gap-3">
                    <a th:href="@{/manage/recipes}" class="p-2 px-4 bg-slate-300 text-white rounded-full">Cancel</a>
                    <button type="reset" class="p-2 px-4 bg-red-500 text-white rounded-full">Reset</button>
                    <button type="submit" class="p-2 px-4 bg-green-500 text-white rounded-full">Save</button>
                </div>
            </form>
        </div>

        <script>
            // Preview image before choosing file
            document.getElementById('imageFile').onchange = function (evt) {
                var tgt = evt.target || window.event.srcElement,
                    files = tgt.files;

                // FileReader support
                if (FileReader && files && files.length) {
                    var fr = new FileReader();
                    fr.onload = function (e) {
                        document.getElementById('imagePreview').src = e.target.result;
                    }
                    fr.readAsDataURL(files[0]);
                }
            }

            // Add ingredient to list
            function addIngredient() {
                var ingredient = document.getElementById('ingredient').options[document.getElementById('ingredient').selectedIndex];
                var ingredientText = ingredient.text;
                var ingredientValue = ingredient.value;
                var amount = document.getElementById('amount').value;

                if (ingredientText === 'Select Ingredient' || amount === '') {
                    document.getElementById('ingredientError').innerText = 'Please select ingredient and amount';
                    return;
                } else {
                    document.getElementById('ingredientError').innerText = '';
                }

                // Check duplicate ingredient
                var ingredientList = document.getElementById('ingredientList');
                for (var i = 0; i < ingredientList.children.length; i++) {
                    var item = ingredientList.children[i].querySelector('.item');
                    if (item.children[1].innerText === ingredientValue) {
                        document.getElementById('ingredientError').innerText = 'Ingredient already added';
                        return;
                    }
                }

                var recipeId = window.location.href.split('/').pop();
                fetch(`/api/recipes/add-ingredients/${recipeId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        ingredientId: ingredientValue,
                        amount: amount
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data) {
                            var ingredientList = document.getElementById('ingredientList');
                            var li = document.createElement('li');
                            li.classList.add('flex', 'justify-between', 'items-center', 'mb-2');
                            li.innerHTML = `<div class="item">
                                                <span>${amount}</span>
                                                <span hidden="hidden">${ingredientValue}</span>
                                                <span>${ingredientText}</span>
                                            </div>
                                            <i class="fas fa-trash text-2xl text-red-500 cursor-pointer" onclick="removeIngredient(this)"></i>`;
                            ingredientList.appendChild(li);
                        } else {
                            document.getElementById('ingredientError').innerText = 'Failed to add ingredient';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('ingredientError').innerText = 'Failed to add ingredient';
                    });
            }

            function removeIngredient(element) {
                // Get ingredient id
                var ingredientId = element.previousElementSibling.children[1].innerText;
                var recipeId = window.location.href.split('/').pop();

                // DELETE Method API: /{id}/delete-ingredients/{ingredientId}
                fetch(`/api/recipes/${recipeId}/delete-ingredients/${ingredientId}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data) {
                            element.parentElement.remove();
                        } else {
                            document.getElementById('ingredientError').innerText = 'Failed to remove ingredient';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        document.getElementById('ingredientError').innerText = 'Failed to remove ingredient';
                    });
            }
        </script>
    </section>
</body>

</html>