<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/layouts/adminLayout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Management</title>
</head>

<body>
    <section layout:fragment="content" class="manager p-4">
        <!-- Card search -->
        <div class="form-search card border border-slate-300 rounded-md mb-4">
            <div class="card-header p-3">
                <h1>Recipe Management</h1>
            </div>
            <form th:action="@{/manage/recipes}" method="get">
                <div class="card-body border-y border-slate-300 p-3 flex">
                    <div class="form-group mb-3 w-1/2 p-2">
                        <label for="keyword" class="block mb-2">Keyword</label>
                        <input type="text" name="keyword" id="keyword"
                            class="form-control w-full p-2 border border-slate-300 rounded-md"
                            placeholder="Search by keyword" th:value="${keyword}">
                    </div>
                    <div class="form-group mb-3 w-1/2 p-2">
                        <label for="keyword" class="block mb-2">Category</label>
                        <select name="categoryName" id="category" title="Category"
                            class="w-full p-2 border border-slate-300 rounded-md">
                            <option>Select Category</option>
                            <option th:each="category : ${categories}" th:value="${category.name}"
                                th:text="${category.name}" th:selected="${category.name == categoryName}"></option>
                        </select>
                    </div>
                </div>
                <div class="card-footer p-3 flex justify-between">
                    <a th:href="@{/manage/recipes/create}"
                        class="p-2 px-4 bg-green-500 text-white rounded-full">Create</a>
                    <button type="submit" class="p-2 px-4 bg-blue-500 text-white rounded-full">Search</button>
                </div>
            </form>
        </div>

        <!-- Card List -->
        <div class="card border border-slate-300 rounded-md">
            <div class="card-body p-3 border-y border-slate-300">
                <table class="table-auto w-full">
                    <thead>
                        <tr class="*:p-2 *:text-left *:border *:border-slate-300">
                            <th>Image</th>
                            <th>
                                <a th:href="@{/manage/recipes(keyword=${keyword}, sortBy=title, order=${order == 'asc' ? 'desc' : 'asc'}, page=${page}, size=${pageSize})}"
                                    class="text-blue-500 flex items-center gap-1">
                                    Title
                                    <i
                                        th:class="${sortBy == 'title' and order == 'asc' ? 'fa-solid fa-arrow-down-short-wide' : 'fa-solid  fa-arrow-up-wide-short'}"></i>
                                </a>
                            </th>
                            <th>
                                <a th:href="@{/manage/recipes(keyword=${keyword}, sortBy=prepTime, order=${order == 'asc' ? 'desc' : 'asc'}, page=${page}, size=${pageSize})}"
                                    class="text-blue-500 flex items-center gap-1">
                                    Prep Time
                                    <i
                                        th:class="${sortBy == 'prepTime' and order == 'asc' ? 'fa-solid fa-arrow-down-short-wide' : 'fa-solid  fa-arrow-up-wide-short'}"></i>
                                </a>
                            </th>
                            <th>
                                <a th:href="@{/manage/recipes(keyword=${keyword}, sortBy=cookTime, order=${order == 'asc' ? 'desc' : 'asc'}, page=${page}, size=${pageSize})}"
                                    class="text-blue-500 flex items-center gap-1">
                                    Cook Time
                                    <i
                                        th:class="${sortBy == 'cookTime' and order == 'asc' ? 'fa-solid fa-arrow-down-short-wide' : 'fa-solid  fa-arrow-up-wide-short'}"></i>
                                </a>
                            </th>
                            <th>
                                <a th:href="@{/manage/recipes(keyword=${keyword}, sortBy=servings, order=${order == 'asc' ? 'desc' : 'asc'}, page=${page}, size=${pageSize})}"
                                    class="text-blue-500 flex items-center gap-1">
                                    Servings
                                    <i
                                        th:class="${sortBy == 'servings' and order == 'asc' ? 'fa-solid fa-arrow-down-short-wide' : 'fa-solid  fa-arrow-up-wide-short'}"></i>
                                </a>
                            </th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="recipe : ${recipes}" class="*:p-2 *:text-left *:border *:border-slate-300">
                            <td>
                                <img th:src="@{${recipe.image != null} ? ${recipe.image} : '/images/recipes/default.png'}"
                                    alt="Recipe Image" class="w-16 h-16 object-cover rounded-md">
                            </td>
                            <td th:text="${recipe.title}"></td>
                            <td th:text="${recipe.prepTime}"></td>
                            <td th:text="${recipe.cookTime}"></td>
                            <td th:text="${recipe.servings}"></td>
                            <td th:text="${recipe.category.name}"></td>
                            <td>
                                <div class="action flex justify-center items-center gap-3">
                                    <a th:href="@{/manage/recipes/edit/{id}(id=${recipe.id})}"
                                        class="btn btn-sm btn-primary">
                                        <i class="fa-solid fa-edit text-blue-500"></i>
                                    </a>
                                    <a th:href="@{/manage/recipes/delete/{id}(id=${recipe.id})}"
                                        class="btn btn-sm btn-danger">
                                        <i class="fa-solid fa-trash text-red-500"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer pagination p-3 flex justify-between items-center">
                <!-- Select page size -->
                <div class="select-size">
                    <label for="pageSize" class="text-sm font-medium text-gray-700 mb-2">Page Size:</label>
                    <!-- Select size - keep keyword and reset page to page 1 -->
                    <select id="pageSize" name="pageSize" class="p-2 border border-slate-300 rounded-md"
                        onchange="window.location.href = '/manage/recipes?keyword=' + document.getElementById('keyword').value + '&sortBy=name&order=asc&page=0&size=' + this.value">
                        <option th:each="size : ${pageSizes}" th:value="${size}" th:text="${size}"
                            th:selected="${size == pageSize}"></option>
                    </select>
                </div>
                <!-- Pagination -->
                <ul class="page-menu flex justify-center items-center gap-2">
                    <li class="page-item">
                        <a class="w-8 h-8 flex justify-center items-center block page-link p-2 bg-slate-300 hover:bg-blue-500 hover:text-white rounded-full cursor-pointer"
                            th:classappend="0 == ${page} ? 'pointer-events-none !bg-slate-200 text-slate-400' : ''"
                            th:href="@{/manage/recipes(keyword=${keyword}, sortBy=${sortBy}, order=${order}, page=0, size=${pageSize})}">
                            <i class="fa-solid fa-angle-double-left"></i>
                        </a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(page - pageLimit < 0 ? 0 : page - pageLimit,  totalPages - 1 - page >= pageLimit ? page + pageLimit  : totalPages - 1)}">
                        <!-- Page i and size 2 -->
                        <a class="w-8 h-8 flex justify-center items-center block page-link p-2 bg-slate-300 hover:bg-blue-500 hover:text-white rounded-full cursor-pointer"
                            th:classappend="${i} == ${page} ? '!bg-blue-500 text-white' : ''"
                            th:href="@{/manage/recipes(keyword=${keyword}, sortBy=${sortBy}, order=${order}, page=${i}, size=${pageSize})}"
                            th:text="${i} + 1"></a>
                    </li>

                    <li class="page-item">
                        <a class="w-8 h-8 flex justify-center items-center block page-link p-2 bg-slate-300 hover:bg-blue-500 hover:text-white rounded-full cursor-pointer"
                            th:classappend="${totalPages - 1} == ${page} ? 'pointer-events-none !bg-slate-200 text-slate-400' : ''"
                            th:href="@{/manage/recipes(keyword=${keyword},sortBy=${sortBy}, order=${order}, page=${totalPages - 1}, size=${pageSize})}">
                            <i class="fa-solid fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- Page Info -->
                <div class="page-info">
                    <!-- 1-2 of 7 items -->
                    <span th:text="${page * pageSize + 1}"></span>-
                    <span
                        th:text="${(page + 1) * pageSize > totalElements ? totalElements : (page + 1) * pageSize}"></span>
                    of
                    <span th:text="${totalElements}"></span>
                    items
                </div>
            </div>
        </div>

        <!-- Popup Message -->
        <div id="popup"
            class="fixed top-[64px] right-[20px] bg-white p-4 rounded-md border border-slate-400 shadow-md z-10 transform translate-x-full transition-transform duration-500 ease-in-out hidden">
            <i th:class="${message.type == 'success'} ? 'fa-solid fa-check-circle text-green-500' : 'fa-solid fa-times-circle text-red-500'"
                class="absolute top-2 right-2"></i>
            <span id="popup-message"></span>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            document.addEventListener('DOMContentLoaded', function () {
                const message = /*[[${message}]]*/ null;
                if (message !== null && message.content !== null && message.content !== '') {
                    const popup = document.getElementById('popup');
                    const popupMessage = document.getElementById('popup-message');
                    popupMessage.textContent = /*[[${message.content}]]*/ 'Default message';
                    popup.classList.add(/*[[${message.type} == 'success' ? 'text-green-500' : 'text-red-500']]*/ 'text-green-500');
                    popup.classList.remove('hidden', 'translate-x-full');
                    setTimeout(() => {
                        popup.classList.add('translate-x-full');
                        setTimeout(() => {
                            popup.classList.add('hidden');
                        }, 500); // Wait for the transition to complete before hiding
                    }, 3000);
                }
            });
            /*]]>*/
        </script>
    </section>
</body>

</html>